<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frequent Ask Question</title>
    <%- include('./templates/library.ejs') %>
</head>
<body>
    <%- include('./templates/header.ejs') %>
    <section class="hidden faq">
        <h1 class="text-center mt-3 welcome">WHY CATALYST?</h1>
        <h2 class="text-center ms-3 me-3 mb-3">Since in indonesia there isn't numerous application that permit Users make
          their on participations or membership. We given so Users can make their possess enrollment or membership based
          item.</h2>
    </section>
    <section class="hidden faq">
        <h2 class="text-center ms-3 me-3 mb-3">Users as a rule spend most of the time composing their client membership and
          they need to work out which their client still and want to subscribe or do not need to subscribe any longer.
        </h2>
    </section>
    <section class="hidden faq">
        <h2 class="text-center ms-3 me-3 mb-3">As a result of the coordinate AyoConnect Debit Card payment their client can
          bind their cards and we'll do the work so User and their client can worry other things.
        </h2>
    </section>
    <section class="hidden faq">
        <h1 class="text-center mt-3 welcome">HOW TO USE CATALYST?</h1>
        <h2 class="text-center ms-3 me-3 mb-3">Users can make an account and begin distributing their claim participation or
          subscriptions.</h2>
    </section>
</body>
</html>