<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalysts</title>
    <%- include('./templates/library.ejs') %>
</head>
<body>
    <%- include('./templates/header.ejs') %>
    <section class="hidden">
        <h1 class="text-center mt-3 welcome">WELCOME TO CATALYST</h1>
        <img class="logo" src="/image/CatalystWithText.jpeg" width="250"/>
    </section>
    <section class="hidden">
        <h2 class="text-center ms-3 me-3 mb-3">Catalysts is a membership or subscription platform. Users can make their on
          memberships as
          many as they want and we handle their user subscriptions so its efficient for the Users rather than making their
          own application just for a subscription</h2>
        <a class="btn btn-primary" href="/auth/register">Let's Get Started!</a>
        </Center>
    </section>
</body>
</html>